doctype html
html
  head
    title About
    meta(charset='utf-8')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .about{
      font-size: 18px;
      text-align: justify;
      word-spacing: 1px;
      letter-spacing: 1px;
      }
      .follow-fb i{
      color:#046;
      }
      .follow-fb i:hover{
      color:#fff;
      }
      .follow-tw i:hover{
      color:#fff;
      }
      .follow-in i{
      color:#b32d00;
      }
      .follow-in i:hover{
      color: #fff;
      }
  body(style='background:radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%)')
    nav.navbar.navbar-default(style='background: #046;')
      .container-fluid
        .navbar-brand
          a.col-md-offset-2(href='index.html')
            img(src='https://www.digitalgujarat.gov.in/images/logo.png', style='background-color: white; border-radius: 5px;')
        ul.nav.navbar-nav.navbar-right(style='padding-top: 15px; padding-right: 50px;')
          li
            a(href='/index', style='color: white;') Home
    .container
      h1.text-center About Us
      .pull-left(style='padding-right: 1%;')
        img(src='images/sih.jpeg')
      p.about
        | As per the reservation policy of the Government, for the recruitment in Government jobs and for various Government benefits, the applicants produce caste certificate to the authority. It is important to verify the genuineness of caste certificate. However, there is no such mechanism to verify the certificates on the spot. What Exact Problem is being Solved? : At present, the applicants produce physical copy of caste certificates to the Government authority for Government jobs or benefits. It is a very lengthy process to ensure genuineness of the certificate as the copy of certificate is sent to issuing authority to match unique certificate number, photo and/or name of the certificate holder. Users : Any Government authority for availing benefits. Expected Outcomes : An online data bank of caste certificates which can help to verify the genuineness of caste certificates just by entering the unique certificate number or name of the certificate holder. Impact : ï If, online verification of caste certificate is made possible, lot of time and money can be saved by reducing the effort. ï It will be ensured that, only genuine reserved category applicants avail benefits.
      .container
        h2 All About Gujarat
        dl
          dd.about
            .pull-left(style='padding-right: 1%;')
              img(src='images/gj.jpeg')
            p
              | The Land of the Legends, stands bordered by Pakistan and Rajasthan in the north east, Madhya Pradesh in the east, and Maharashtra and the Union territories of Diu, Daman, Dadra and Nagar Haveli in the south. The Arabian Sea borders the state both to the west and the south west.
            p
              | The State took it’s name from the Gujjars, who ruled the area during the 700’s and 800’s. Stone Age settlements around Sabarmati and Mahi rivers indicate the same time as that of the Indus Valley Civilization while Harappan centres are also found at Lothal, Rampur, Amri and other places.
            p
              | Rock Inscriptions in the Girnar Hills show that the Maurya Emperor Ashoka, extended his domain into Gujarat in about 250 BC. With it’s fall, the control of the region came under the Sakas or Scythians.
            p
              | During the 900’s the Solanki Dynasty came to power and Gujarat reached it’s greatest extent.
            p
              | Then followed a long period of Muslim rule. Ahmed I, the first independent Muslim ruler of Gujarat, found Ahmedabad in 1411. The Mughal Emperor Akbar conquered Malwa and Gujarat in 1570s.
            p
              | The British East India Company set its first footsteps in Surat in 1818 and the State came in control of their rule.
            p
              | Gujarat was divided into princely states. After the Indian Independence in 1947, all of Gujarat except Saurashtra and Kutchh became part of Bombay State until May 1, 1960, when the Government split Bombay state into the States of Maharashtra and Gujarat.
            p
              | Ahmedabad became the chief city of the new State and housed the State Government Offices. They remained there until they were transferred to Gandhinagar in 1970.
      .container(style='width: 20%;')
        center
          h3
            i Follow us on...
          .row
            .col-sm-4
              a.follow-fb(href='https://www.facebook.com/events/1760744293977109/')
                h1
                  i.fa.fa-facebook-square
                br
            .col-sm-4
              a.follow-tw(href='https://www.instagram.com/sih_2018_/')
                h1
                  i.fa.fa-twitter-square
                br
            .col-sm-4
              a.follow-in(href='https://twitter.com/SIH2018')
                h1
                  i.fa.fa-instagram
                br
      .clearfix
    .clearfix
    br
    br
    br
    .row.navbar-fixed-bottom(style='background: gray;')
      .col-sm-12
        center
          footer
            h3 All rights reserved © SIH2K18 
      .clearfix
