doctype html
html
  head
    title Services
    meta(charset='utf-8')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .about{
      font-size: 18px;
      text-align: justify;
      word-spacing: 1px;
      letter-spacing: 1px;
      }
  body(style='background:radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%) no-repeat')
    nav.navbar.navbar-default(style='background: #046;')
      .container-fluid
        .navbar-brand
          a.col-md-offset-2(href='/index')
            img(src='https://www.digitalgujarat.gov.in/images/logo.png', style='background-color: white; border-radius: 5px;')
        ul.nav.navbar-nav.navbar-right(style='padding-top: 15px; padding-right: 50px;')
          li
            a(href='/index', style='color: white;') Home
    .container
      center
        h2
          | Verify your caste certificate
          br
          | Here!
        a(href='')
          img(src='images/verification.png', width='50%')
        h3 Instant caste verification
        img(src='https://ras.gov.in/img/logo-digital-gujarat-text_new1.png', width='30%', style='padding-top: 5%;')
    .clearfix
    .clearfix
    br
    br
    br
    .row.navbar-fixed-bottom(style='background: gray;')
      .col-sm-12
        center
          footer
            h3 All rights reserved © SIH2K18 
        .clearfix
      .clearfix
